body {
  background-color: white;
  color: black;
}

h1 {
  color: black;
  font-size: x-large;
}

a {
  color: #0d4f91;
  text-decoration: none;
}

a:hover {
  color: #297d14;
}

.card {
  margin: 0 !important;
  padding: 0 !important;
  background-color: white !important; 
  border-color: #e0e0e0; 
}

.card-header {
  color: black;
  font-weight: bold;
}

.text-highlight {
  color: #297d14;
  font-weight: normal;
}

.card-body {
  background-color: white !important;
  color: black !important;
}

.card .btn {
  background-color: #f5f5f5;
  color: #0d4f91;
  border: 1px solid #e0e0e0;
  box-shadow: none;
}

.card .btn:hover {
  background-color: #e0e0e0;
  color: #297d14;
  border: 1px solid #e0e0e0;
}

.btn-main {
  color: #0d4f91; 
  background-color: transparent; 
  border: none; 
}

.btn-main:hover {
  color: #297d14; 
}

.nav-tabs {
  border-bottom-color: #606060;
}

.nav-tabs .nav-item .nav-link.active {
  background-color: white;
  color: black;
  border-color: #e0e0e0;
}

.nav-tabs .nav-item .nav-link {
  color: #000; 
  border-color: transparent;
}

.nav-tabs .nav-item .nav-link:hover {
  border-color: #e0e0e0; 
  color: #297d14;
}

.nav-tabs .nav-item .nav-link.active:hover {
  color: black;
}

.row {
  margin: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.iframe-wrapper {
  margin: 0; /* Remove margin completely */
  padding: 0; /* Remove any padding */
}

.tab-content {
  margin: 0;
  padding: 0;
}

iframe {
  display: block; 
  margin: 0 !important;
  padding: 0 !important;
  border: none;
}

.tab-content {
  margin: 0 !important;
  padding: 0 !important;
}

.col-sm-12.col-md-6 {
  margin: 0 !important;
  padding: 0 !important;
}

